In [1]:
import numpy as np
import pandas as pd

data0 = pd.read_csv('tianchi_mum_baby_trade_history.csv')
data0

         user_id   auction_id  category_2  category_1  buy_mount       day
0      786295544  41098319944    50014866    50022520          2  20140919
1      532110457  17916191097    50011993          28          1  20131011
2      249013725  21896936223    50012461    50014815          1  20131011
3      917056007  12515996043    50018831    50014815          2  20141023
4      444069173  20487688075    50013636    50008168          1  20141103
...          ...          ...         ...         ...        ...       ...
29966   57747284  35169635909    50010549    50008168          1  20140109
29967  287541325  19778523000    50007011    50008168          2  20140109
29968   82915321  12766532512    50011993          28          1  20131008
29969   78259523  18309305134    50013711    50008168          1  20131008
29970  758305789  20177445814    50018860          28          1  20131008

[29971 rows x 6 columns]

In [2]:
data1 = pd.read_csv('tianchi_mum_baby.csv')
data1

        user_id  birthday  gender
0          2757  20130311       1
1        415971  20121111       0
2       1372572  20120130       1
3      10339332  20110910       0
4      10642245  20130213       0
..          ...       ...     ...
948  2020957900  20140430       0
949  2080304899  20100713       0
950  2114469016  20140416       0
951  2186831536  20140519       1
952  2254611367  20111031       0

[953 rows x 3 columns]